/* Indah UI for Display Utils */
.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}
.no-overflow {
    overflow: hidden;
}
.no-x-overflow {
    overflow-x: hidden;
}
.no-xy-overflow {
    overflow-y: hidden;
}
.scroll-overflow {
    overflow: scroll;
}
.scroll-x-overflow {
    overflow-x: scroll;
}
.scroll-y-overflow {
    overflow-y: scroll;
}